.luxury {
  background-color: #edf1f5;
  padding: 80px 0px;

  .container {
    max-width: 1680px;
    width: 95%;
    margin: auto;
    display: grid;
    align-items: center;
    gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(340px, auto));

    .one {
      img {
        margin-bottom: 46px;
      }

      h2 {
        margin-bottom: 28px;
      }

      p {
        margin-bottom: 32px;
      }

      button {
        width: 172px;
        height: 50px;
        border-radius: 24px;
        border: 1px solid #909294;
        background: transparent;
      }
    }

    .two {
      .card {
        height: fit-content;

        .card-1,
        .card-2,
        .card-3 {
          background-color: #fff;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          z-index: 10;
          transform: translateZ(-2px);
          margin: auto;
          box-shadow: 20px 20px 40px 1px rgba(0, 0, 0, 0.1);
          border-radius: 30px;
        }

        .card-1 {
          position: relative;
          transform-style: preserve-3d;

          img {
            width: 100%;
            height: auto;
            border-radius: 30px;
          }

          .bottom {
            display: flex;
            width: 100%;
            min-height: 20%;
            max-height: 30%;
            align-items: center;
            padding: 20px;
            bottom: 0px;
            background-color: #fff;
            border-end-end-radius: 30px;
            border-bottom-left-radius: 30px;
            position: absolute;

            .img-play {
              max-width: 80px;
              height: auto;
              margin-right: 20px;

              img {
                height: auto;
                width: 100%;
              }
            }

            .time {
              h5 {
                margin-bottom: 5px;
                font-weight: 300;
              }

              span {
                color: #909294;
              }
            }
          }
        }

        .percentage {
          position: absolute;
          height: auto;
          width: 40% !important;
          right: -15px;
          bottom: 15%;
          box-shadow: 20px 20px 40px 1px rgba(0, 0, 0, 0.1);
        }

        .card-2 {
          bottom: -30px;
          width: 75%;
        }

        .card-3 {
          bottom: -15px;
          width: 90%;
        }
      }
    }
  }
}

@media (max-width: 620px) {
  .container {
    width: 90% !important;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto)) !important;
  }
}
