<div class="luxury">
  <div class="container">
    <!-- one -->
    <div class="one">
      <img src="../../../assets/images/luxury/sleep.png" alt="sleep" />
      <h2>Luxury Plaza Hotel for You</h2>
      <p>
        Distant orb has power to raise and purify our thoughts like a strain of
        sacred music.
      </p>
      <button>ABOUT US</button>
    </div>

    <!-- two -->
    <div class="two">
      <div class="card">
        <div class="card-1">
          <img src="../../../assets/images/luxury/luxury.png" alt="luxury" />

          <div class="bottom">
            <div class="img-play">
              <img
                src="../../../assets/images/luxury/play.png"
                alt="play"
                class="play"
              />
            </div>
            <div class="time">
              <h5>Play Video</h5>
              <span>2:34</span>
            </div>
          </div>
          <div class="card-2"></div>
          <div class="card-3"></div>
          <img
            src="../../../assets/images/luxury/percentage.png"
            alt="percentage"
            class="percentage"
          />
        </div>
      </div>
    </div>
  </div>
</div>
