<div class="wellness">
  <div class="container">
    <!-- two -->
    <div class="two">
      <div class="card">
        <div class="card-1">
          <img
            src="../../../assets/images/wellness/wellness.png"
            alt="wellness"
          />
          <div class="bottom">
            <div class="img-play">
              <img
                src="../../../assets/images/wellness/star.png"
                alt="star"
                class="star"
              />
            </div>
            <div class="data">
              <h5>+ $189</h5>
              <span>Additional Price</span>
            </div>
          </div>
          <div class="card-2"></div>
          <div class="card-3"></div>
        </div>
      </div>
    </div>

    <!-- one -->
    <div class="one">
      <img src="../../../assets/images/wellness/face.png" alt="face" />
      <h2>Wellness & Spa</h2>
      <p>
        Raise and purify our thoughts like a strain of sacred music, or a noble
        picture, or a passage from the grander poets.
      </p>
      <button>EXPLORE</button>
    </div>
  </div>
</div>
