.bottom {
  background: #223851;
  padding: 25px 0px;

  .container {
    max-width: 1680px;
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .networks__img {
      max-width: 160px;
      cursor: pointer;

      img {
        width: 100%;
        height: auto;
      }
    }

    span {
      color: #909294;
    }
  }
}

@media (max-width: 830px) {
  .container {
    flex-direction: column;

    img {
      margin-bottom: 10px;
    }
  }
}
