<div class="hero">
  <div class="container">
    <div class="one">
      <app-navbar></app-navbar>
    </div>
    <div class="two">
      <h1>Exclusive Boutique Hotel</h1>
      <h5>Luxury Boutique Hotel</h5>

      <div class="networks__img">
        <img
          src="../../../assets/images/hero/networks.png"
          alt="networks"
          class="networks"
        />
      </div>

      <!-- desktop mode -->
      <img
        src="../../../assets/images/hero/availability.png"
        alt="availability"
        class="availability"
      />

      <!-- mobile mode -->
      <img
        src="../../../assets/images/mobil_mode/availability.png"
        alt="availability"
        class="mobile"
      />
    </div>
  </div>
</div>
