<div class="advantages">
  <h2>Advantages</h2>
  <div class="container">
    <!-- one  -->
    <div class="one">
      <div class="card">
        <img src="../../../assets/images/advantages/office.png" alt="office" />
        <h3>Free Wi-Fi</h3>
        <p>
          Distant orb has power to raise and purify our thoughts like a strain
          of sacred music, or a noble picture, or a passage.
        </p>
      </div>
      <img
        src="../../../assets/images/icons/shape.png"
        alt="shape"
        class="shape"
      />
    </div>

    <!-- two  -->
    <div class="two">
      <div class="con">
        <!-- box-1 -->
        <div class="box-1">
          <img
            src="../../../assets/images/advantages/party.png"
            alt="party.png"
          />
          <div class="detail">
            <h4>Special Events</h4>
            <p>
              Distant orb has power to raise and purify our thoughts like a
              strain of sacred music, or a noble picture, or a passage from the
              grander poets.
            </p>
          </div>
        </div>

        <!-- box-2 -->
        <div class="box-2">
          <img
            src="../../../assets/images/advantages/notes.png"
            alt="notes.png"
          />
          <div class="detail">
            <h4>Best Price</h4>
            <p>Power to raise and purify our thoughts like a strain.</p>
          </div>
        </div>

        <!-- box-3 -->
        <div class="box-3">
          <img
            src="../../../assets/images/advantages/calendar.png"
            alt="calendar.png"
          />
          <div class="detail">
            <h4>Free Cancellation</h4>
            <p>Like a strain of sacred music, or a noble picture.</p>
          </div>
          <img
            src="../../../assets/images/icons/shape.png"
            alt="shape"
            class="shape2"
          />
        </div>
      </div>
    </div>
  </div>
</div>
