.circles {
  margin: auto;
  align-items: center;
  background: #2c4664;

  img {
    width: 100%;
    height: auto;
  }

  .mobile {
    display: none;
  }
}

@media (max-width: 830px) {
  .desktop {
    display: none !important;
  }
  .mobile {
    display: block !important;
  }
}
