<div class="restaurants">
  <div class="container">
    <!-- one -->
    <div class="one">
      <img src="../../../assets/images/restaurants/coffee.png" alt="coffee" />
      <h2>Restaurants & Bars</h2>
      <p>
        Distant orb has power to raise and purify our thoughts like a strain of
        sacred music.
      </p>
      <button>RESERVE A TABLE</button>
    </div>

    <!-- two -->
    <div class="two">
      <div class="card">
        <div class="card-1">
          <img
            src="../../../assets/images/restaurants/restaurants.png"
            alt="restaurants"
          />
          <div class="bottom">
            <div class="img-play">
              <img
                src="../../../assets/images/restaurants/hamburger.png"
                alt="hamburger"
                class="hamburger"
              />
            </div>
            <div class="data">
              <h5>+ $20</h5>
              <span>Lunch Price</span>
            </div>
          </div>
          <div class="card-2"></div>
          <div class="card-3"></div>
          <img
            src="../../../assets/images/restaurants/map.png"
            alt="map"
            class="map"
          />
        </div>
      </div>
    </div>
  </div>
</div>
