.banner {
  margin: auto;
  align-items: center;
  background: rgba(44, 70, 100, 1);

  img {
    width: 100%;
    height: auto;
  }

  .mobile {
    display: none;
  }
}

@media (min-width: 2000px) {
  .container {
    width: 50% !important;
  }
}
@media (max-width: 1150px) {
  .container {
    width: 90% !important;
  }
}
@media (max-width: 830px) {
  .desktop {
    display: none !important;
  }
  .mobile {
    display: block !important;
  }
}
