<div class="testimonials">
  <!-- DESKTOP MODE -->
  <div class="container desktop">
    <!-- one -->
    <div class="one">
      <div class="card">
        <div class="card-1">
          <h3>
            My Best <br />
            Vacation
          </h3>
          <p>
            "Distant orb has power to raise and purify our thoughts like a
            strain of sacred music, or a noble picture, or a passage from the
            grander poets. By the same illusion which lifts the horizon of the
            sea to the level of the spectator on a hillside, the sable cloud
            beneath was dished out, and the car seemed."
          </p>
          <div class="guest">
            <img
              src="../../../assets/images/testimonials/user-1.png"
              alt="user-1"
            />
            <div class="recension">
              <h5>Aasiya Jayavant</h5>
              <img
                src="../../../assets/images/testimonials/stars.png"
                alt="stars"
              />
            </div>
          </div>
          <div class="card-2"></div>
          <div class="card-3"></div>
        </div>
        <img
          src="../../../assets/images/testimonials/quotation_marks.png"
          alt="quotation_marks"
          class="quotation_marks"
        />
        <img
          src="../../../assets/images/icons/shape.png"
          alt="shape"
          class="shape1"
        />
        <img
          src="../../../assets/images/icons/arrow_left.png"
          alt="arrow_left"
          class="arrow_left"
        />
      </div>
    </div>

    <!-- two -->
    <div class="two">
      <div class="card">
        <div class="card-1">
          <h3>
            Very Good <br />
            Hotel
          </h3>
          <p>
            "Peep at some distant orb has power to raise and purify our thoughts
            like a strain of sacred music, or a noble picture, or a passage from
            the grander poets. It always does one good.Apparently we had reached
            a great height in the atmosphere, for the sky was a dead black."
          </p>
          <div class="guest">
            <img
              src="../../../assets/images/testimonials/user-2.png"
              alt="user-2"
            />
            <div class="recension">
              <h5>Cameron Rogers</h5>
              <img
                src="../../../assets/images/testimonials/stars.png"
                alt="stars"
              />
            </div>
          </div>
          <div class="card-2"></div>
          <div class="card-3"></div>
        </div>
        <img
          src="../../../assets/images/testimonials/quotation_marks.png"
          alt="quotation_marks"
          class="quotation_marks"
        />
        <img
          src="../../../assets/images/icons/shape.png"
          alt="shape"
          class="shape2"
        />
        <img
          src="../../../assets/images/icons/arrow_right.png"
          alt="arrow_right"
          class="arrow_right"
        />
      </div>
    </div>
  </div>

  <!-- MOBILE MODE -->
  <div class="container mobile">
    <div class="one">
      <div class="card">
        <div class="card-1">
          <h3>My Best Vacation</h3>
          <p>
            "Distant orb has power to raise and purify our thoughts like a
            strain of sacred music, or a noble picture, or a passage from the
            grander poets. By the same illusion which lifts the horizon of the
            sea to the level of the spectator on a hillside, the sable cloud
            beneath was dished out, and the car seemed."
          </p>
          <div class="guest">
            <img
              src="../../../assets/images/testimonials/user-1.png"
              alt="user-1"
            />
            <div class="recension">
              <h5>Aasiya Jayavant</h5>
              <img
                src="../../../assets/images/testimonials/stars.png"
                alt="stars"
              />
            </div>
          </div>
          <div class="card-2"></div>
          <div class="card-3"></div>
        </div>
        <img
          src="../../../assets/images/testimonials/quotation_marks.png"
          alt="quotation_marks"
          class="quotation_marks"
        />
        <img
          src="../../../assets/images/icons/shape.png"
          alt="shape"
          class="shape3"
        />
        <img
          src="../../../assets/images/icons/shape.png"
          alt="shape"
          class="shape4"
        />
        <img
          src="../../../assets/images/icons/arrow_left.png"
          alt="arrow_left"
          class="arrow_left-1"
        />
        <img
          src="../../../assets/images/icons/arrow_right.png"
          alt="arrow_right"
          class="arrow_right-1"
        />
      </div>
    </div>
  </div>
</div>
