<div class="rooms">
  <div class="title">
    <h2>Rooms</h2>
    <p>
      Distant orb has power to raise and purify our <br />
      thoughts like a strain of sacred music.
    </p>
  </div>

  <!-- DESKTOP MODE -->
  <div class="container desktop">
    <!-- one -->
    <div class="one">
      <div class="card">
        <div class="card-1">
          <img src="../../../assets/images/rooms/card-1.png" alt="card-1" />
          <h3>Classic Room</h3>
          <p>
            Distant orb has power to raise and purify our thoughts like a
            strain.
          </p>
          <button>BOOK NOW</button>
          <div class="card-2"></div>
          <div class="card-3"></div>
        </div>
      </div>
      <img
        src="../../../assets/images/icons/shape.png"
        alt="shape"
        class="shape"
      />
      <img
        src="../../../assets/images/icons/arrow_left.png"
        alt="arrow_left"
        class="arrow_left"
      />
    </div>

    <!-- two -->
    <div class="two">
      <div class="card">
        <div class="card-1">
          <img src="../../../assets/images/rooms/card-2.png" alt="card-2" />
          <h3>Double Room</h3>
          <p>
            Power to raise and purify our thoughts like a strain of sacred
            music.
          </p>
          <button>BOOK NOW</button>
          <div class="card-2"></div>
          <div class="card-3"></div>
        </div>
      </div>
    </div>

    <!-- three -->
    <div class="three">
      <div class="card">
        <div class="card-1">
          <img src="../../../assets/images/rooms/card-3.png" alt="card-3" />
          <h3>Super Room</h3>
          <p>
            Raise and purify our thoughts like a strain of sacred music, or a
            noble.
          </p>
          <button>BOOK NOW</button>
          <div class="card-2"></div>
          <div class="card-3"></div>
        </div>
        <img
          src="../../../assets/images/icons/shape.png"
          alt="shape"
          class="shape2"
        />
        <img
          src="../../../assets/images/icons/arrow_right.png"
          alt="arrow_right"
          class="arrow_right"
        />
      </div>
    </div>
  </div>

  <!-- MOBILE MODE -->
  <div class="container mobile">
    <div class="one">
      <div class="card">
        <div class="card-1">
          <img src="../../../assets/images/rooms/card-1.png" alt="card-1" />
          <h3>Classic Room</h3>
          <p>
            Distant orb has power to raise and purify our thoughts like a
            strain.
          </p>
          <button>BOOK NOW</button>
          <div class="card-2"></div>
          <div class="card-3"></div>
        </div>
        <img
          src="../../../assets/images/icons/shape.png"
          alt="shape"
          class="shape3"
        />
        <img
          src="../../../assets/images/icons/shape.png"
          alt="shape"
          class="shape4"
        />
        <img
          src="../../../assets/images/icons/arrow_left.png"
          alt="arrow_left"
          class="arrow_left-1"
        />
        <img
          src="../../../assets/images/icons/arrow_right.png"
          alt="arrow_right"
          class="arrow_right-1"
        />
      </div>
    </div>
  </div>
</div>
