.rooms {
  background-color: #edf1f5;
  padding: 80px 0px;

  .title {
    max-width: 1680px;
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;

    p {
      color: #909294;
    }
  }

  .container {
    max-width: 1680px;
    width: 95%;
    margin: auto;
    display: grid;
    align-items: center;
    justify-content: center;
    gap: 50px;
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));

    .one {
      position: relative;

      .shape {
        position: absolute;
        bottom: 50%;
        left: -45px;
        width: 50%;
        height: auto;
      }

      .arrow_left {
        position: absolute;
        bottom: 35%;
        left: -37px;
        height: auto;
        z-index: 11;
      }
    }

    .three {
      position: relative;

      .shape2 {
        position: absolute;
        bottom: 25%;
        right: -45px;
        width: 50%;
        height: auto;
      }

      .arrow_right {
        position: absolute;
        bottom: 35%;
        right: -20px;
        height: auto;
        z-index: 11;
      }
    }

    .two {
      .card {
        .card-1,
        .card-2,
        .card-3 {
          background: #2c4664;
        }

        .card-1 h3,
        .card-1 p {
          color: #fff;
        }

        button {
          background: #c8ff8c !important;
          color: #333 !important;
        }
      }
    }

    .card {
      height: fit-content;

      .card-1,
      .card-2,
      .card-3 {
        background-color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 10;
        transform: translateZ(-2px);
        margin: auto;
        box-shadow: 20px 20px 40px 1px rgba(0, 0, 0, 0.1);
        border-radius: 30px;
      }

      .card-1 {
        padding: 25px;
        position: relative;
        transform-style: preserve-3d;

        img {
          border-radius: 10px;
          height: auto;
          width: 100%;
          margin-bottom: 30px;
        }

        h3 {
          color: #333;
          margin-bottom: 15px;
          font-weight: 100;
        }

        p {
          font-size: 18px;
          line-height: 32px;
          margin-bottom: 20px;
        }

        button {
          width: 162px;
          height: 48px;
          border-radius: 24px;
          background: rgba(44, 70, 100, 1);
          font-size: 16px;
          letter-spacing: 1px;
          color: #ffffff;
          border: none;
          margin-bottom: 10%;
        }
      }

      .card-2 {
        bottom: -30px;
        width: 75%;
      }

      .card-3 {
        bottom: -15px;
        width: 90%;
      }
    }
  }

  .mobile {
    display: none;
  }
}

@media (max-width: 830px) {
  .rooms .title {
    display: flex;
    flex-direction: column;
  }
  .title {
    align-items: flex-start !important;
  }
  h2 {
    margin-bottom: 31px;
  }
  br,
  .desktop {
    display: none !important;
  }
  .mobile {
    display: block !important;
    padding: 5% 0;
  }
  .shape3 {
    position: absolute;
    top: -5%;
    left: 10%;
    width: 40%;
    height: auto;
  }
  .shape4 {
    position: absolute;
    height: auto;
    bottom: -10%;
    left: 30%;
    width: 40%;
  }
  .arrow_left-1 {
    position: absolute;
    bottom: 35%;
    left: -20px;
    height: auto;
    z-index: 11;
  }
  .arrow_right-1 {
    position: absolute;
    bottom: 35%;
    right: -20px;
    height: auto;
    z-index: 11;
  }
}

@media (max-width: 400px) {
  .container {
    width: 88% !important;
  }
}
