<div class="bottom">
  <div class="container">
    <!-- one -->
    <div class="one">
      <h3>HOTEL</h3>
      <div class="row">
        <img src="../../../assets/images/icons/phone.png" alt="phone" />
        <span>(4321) 0987-654-320 </span>
      </div>
      <div class="row">
        <img src="../../../assets/images/icons/msg.png" alt="msg.png" />
        <span> support@hotel.com </span>
      </div>
      <div class="row">
        <img src="../../../assets/images/icons/pin.png" alt="pin.png" />
        <span> 33 Jaja Park Rd, Yellow, USA </span>
      </div>
    </div>

    <!-- two -->
    <div class="two">
      <h4>Menu</h4>
      <div class="links">
        <div class="link-1">
          <a href="#">About</a>
          <a href="#">Service</a>
          <a href="#">Rooms</a>
        </div>
        <div class="link-2">
          <a href="#">Testimonials</a>
          <a href="#">Blog</a>
          <a href="#">Contact</a>
        </div>
      </div>
    </div>

    <!-- three -->
    <div class="three">
      <h4>Subscribe</h4>
      <div class="input">
        <input class="input-field" placeholder="Email" />
        <img
          src="../../../assets/images/icons/send.png"
          alt="send-icon"
          class="icon"
        />
      </div>
      <span>No spam. Only profit.</span>
    </div>
  </div>
</div>
