<div class="blog">
  <h2>From Blog</h2>

  <!-- DESKTOP MODE -->
  <div class="container desktop">
    <!-- one -->
    <div class="one">
      <div class="card">
        <div class="card-1">
          <img src="../../../assets/images/blog/card-4.png" alt="card-4" />
          <h3>Where Travel this Summer</h3>
          <p>
            Distant orb has power to raise and purify our thoughts like a
            strain.
          </p>
          <div class="bottom">
            <h5>Pedro Amorim</h5>
            <div class="comment">
              <img src="../../../assets/images/icons/cloud.png" alt="cloud" />
              <span>3</span>
            </div>
          </div>
          <div class="card-2"></div>
          <div class="card-3"></div>
        </div>
        <img
          src="../../../assets/images/icons/arrow_left.png"
          alt="arrow_left"
          class="arrow_left"
        />
      </div>
    </div>

    <!-- two -->
    <div class="two">
      <div class="card">
        <div class="card-1">
          <img src="../../../assets/images/blog/card-5.png" alt="card-5" />
          <h3>Better Places for Traveling</h3>
          <p>
            Distant orb has power to raise and purify our thoughts like a
            strain.
          </p>
          <div class="bottom">
            <h5>Juan Jose Esteve</h5>
            <div class="comment">
              <img src="../../../assets/images/icons/cloud.png" alt="cloud" />
              <span>9</span>
            </div>
          </div>
          <div class="card-2"></div>
          <div class="card-3"></div>
        </div>
      </div>
    </div>

    <!-- three -->
    <div class="three">
      <div class="card">
        <div class="card-1">
          <img src="../../../assets/images/blog/card-6.png" alt="card-6" />
          <h3>Why Our Hotel is the Best Place</h3>
          <p>
            Distant orb has power to raise and purify our thoughts like a
            strain.
          </p>
          <div class="bottom">
            <h5>Shaamikh Al Hakim</h5>
            <div class="comment">
              <img src="../../../assets/images/icons/cloud.png" alt="cloud" />
              <span>15</span>
            </div>
          </div>
          <div class="card-2"></div>
          <div class="card-3"></div>
        </div>
        <img
          src="../../../assets/images/icons/arrow_right.png"
          alt="arrow_right"
          class="arrow_right"
        />
      </div>
    </div>
  </div>

  <!-- MOBILE MODE -->
  <div class="container mobile">
    <div class="one">
      <div class="card">
        <div class="card-1">
          <img src="../../../assets/images/blog/card-4.png" alt="card-4" />
          <h3>Where Travel this Summer</h3>
          <p>
            Distant orb has power to raise and purify our thoughts like a
            strain.
          </p>
          <div class="bottom">
            <h5>Pedro Amorim</h5>
            <div class="comment">
              <img src="../../../assets/images/icons/cloud.png" alt="cloud" />
              <span>3</span>
            </div>
          </div>
          <div class="card-2"></div>
          <div class="card-3"></div>
        </div>
        <img
          src="../../../assets/images/icons/arrow_left.png"
          alt="arrow_left"
          class="arrow_left-1"
        />
        <img
          src="../../../assets/images/icons/arrow_right.png"
          alt="arrow_right"
          class="arrow_right-1"
        />
      </div>
    </div>
  </div>
</div>
